@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  font-size: 19px;
  line-height: 1.5
}
html {
  scroll-behavior: smooth;
}
a {
  font-weight: bold;
  padding: 5px 5px;
  position: relative;
  text-decoration: none;
  transition: opacity 300ms ease;
}
i:hover {
  opacity: 0.7;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px
}
section {
  padding: 0 32px;
  transition: all 300ms ease;

}
.click {
  cursor: pointer;
  transition: opacity 300ms ease;
}
.click:hover {
  transform: scale(1.1);
}
.click:active {
  transform: scale(0.8);
}
button {
  cursor: pointer;
}
.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content:'';
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 100%;
  background-color: black;
  transition: all 300ms ease;

}
.link__hover-effect--white:after {
  background-color: white;
}

.link__hover-effect:hover:after {
  left:0;
  width: 100%;
}
nav, .header, .project-scroll {
  opacity: 1;
  visibility: visible;
  transition: all 800ms 1000ms;
}
.inner_Contact--open nav,
.inner_Contact--open .header,
.inner_Contact--open .project-scroll {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}
.dark_theme .title,
.dark_theme section{
  color: white;
}
.dark_theme .header_TitleO {
  color: blue;
}
.dark_theme .header_TitleBLU,
.dark_theme .Contact__William {
  color: #ef644b;
}
.dark_theme .inner_Contact {
  box-shadow: 0 20px 80px 0 gray !important;
}
.dark_theme .inner_Contact_exit {
  color: #242424;
}
.dark_theme .inner_Contact--open .inner_Contacts_Side1-about,
.dark_theme .inner_Contact--open .inner_Contacts_Side2-about {
  transform: translateX(0%);
}
.dark_theme .form_submit:hover {
  background-color: #242424;
}
/*heello*/
.dark_theme .text-purple {
  color: yellow;
}
.dark_theme .footer__name {
  color: green;
}
.dark_theme .footer__name:hover,
.dark_theme .Contact__William--yellow:hover{
  color: #6415ff;
}
.dark_theme .Contact__William--yellow::after,
.dark_theme .footer__name::after {
  background-color: #6415ff;
}
.dark_theme section {
  background-color: black;
}
.dark_theme .project-icon {
  border-color: white;
}
.dark_theme .project-icon::after,
.dark_theme .link__hover-effect--black:after,
.dark_theme .inner_Contacts_Side1, 
.dark_theme .inner_Contacts_Side1-about  {
  background-color: #242424;
}
.dark_theme .mail-btn {
  background-color: white;
  color: #242424;
}
.dark_theme .fa-github:before,
.dark_theme .inner_Contacts_Side1-about{
  color: white;
}
.dark_theme .fa-envelope,
.dark_theme .inner_Contacts_Side2-about{
  color: black;
}
.dark_theme .footer,
.dark_theme .project-icon::after,
.dark_theme .nav__link--anchor-primary--color:hover,
.dark_theme .inner_Contacts_Side2{
  background-color: white;
}
/*


Contact


*/
#Contact {
  min-height: 100vh;
}
nav {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade-up 650ms 400ms backwards;
}
.nav__list {
  padding: 1px;
}
.nav__listl {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  transition: opacity 300ms ease;
}
.CS_logo {
  flex: 1;
  position: absolute;
}
.CS_logo-mask-top {
  width: 50%;
  height: 100%;
  animation: animate-profile-pic 1000ms 800ms backwards;
}
@keyframes animate-profile-pic {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade-up {
  0% {
  opacity: 0;
  transform:translateY(40px)
  }
  100% {
    opacity: 1;
    transform:translateY(0) ;
  }
}
li {
  list-style-type: none;
}
.nav__link--anchor-primary {
  background-color: orangered;
  padding: 8px 18px;
  border-radius: 25px;
  color: yellow;
}
.nav__link--anchor-primary--color:hover{
  color:orangered;
  background-color: black;  
  transition: all 300ms ease;
}
.nav__link--anchor-l {
  padding: 8px 18px;
  border-radius: 25px;
  color: rgb(18, 120, 255);
}
.nav__link--anchor-l--colorl:hover{
  color:white;
  background-color: rgb(18, 120, 255);  
  transition: all 300ms ease;
}
.nav__link--anchor-ll {
  background-color: yellow;
  padding: 8px 18px;
  border-radius: 25px;
  color: red;
}
.nav__link--anchor-ll--colorll:hover{
  color: yellow;
  background-color: red;  
  transition: all 300ms ease;
}
.nav__link--anchor-switch:hover{
  filter: invert(1);
}
.link__hover-effect--black:after {
  background-color: #242424;
}
.mail-btn {
  width: 65px;
  height: 65px;
  position: fixed;
  bottom: 32px;
  right: 40px;
  border-radius: 50px;
  color: white;
  background-color: #242424;
  border: none;
  z-index: 100;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
}
.header {
  top: 50%;
  left: 50%;
  padding: 0 30px;
  position: absolute;
  width: 100%;
  max-width: 1000px;
  transform: translate(-50%, -50%);
}
.header_TitleO {
  font-size: 120px;
  color: #ef644b;
  text-align:start;
}
.header_TitleBLU {
  font-size: 110px;
  text-align: start;
  color: blue;
}
.header-p {
  width: 50%;
  font-size: 23px;
  padding-bottom: 20px;
  font-weight: 400;
  line-height: 1.75;
}
.text-purple {
  color: #6415ff;
  font-weight: bold;
}
.PTspeacial {
  cursor: pointer;
}
.text-green {
  color: green;
  font-weight: bold;
}
.aboutme_links{
  width: 50%;
  font-size: 28px;
  animation: fade-up 650ms 600ms backwards;
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-linkedin-in:before {
  content: "\f0e1";
}
.fa-linkedin {
  color: #0c61be;
}
.fa-github:before {
  content: "\f09b";
}
.fa-github {
  color: black;
}
.fa-file-pdf::before {
  content: "\f1c1";
}
.fa-file-pdf {
  color: red;
}
.fa-adjust:before {
  content: "\f042";;
}
.fa-adjust {
  padding-left: 5px ;
}
.fa-envelope {
  font-size: 24px;
  color: white;
}
.fa-envelope:before{
  content: "\f0e0";
}
.fa-close::before {
  content: "\f00d"; 
}
.fa-spinner::before {
  content: "\f110"; 
}
.fa-spinner {
 animation: spinner 750ms infinite linear; 
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*


Inner Contacts


*/

.inner_Contact {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1100px;
  height: 700px;
  box-shadow: 0 20px 80px 0 black;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1 ;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}
.inner_Contact--open .inner_Contact {
  z-index: 60;
  box-shadow: 0 20px 80px 0 black;
  visibility: visible;
}
.inner_Contact--open .inner_Contacts_Side1-about,
.inner_Contact--open .inner_Contacts_Side2-about {
  transform: translateX(0%);
}
.inner_Contacts_title {
  font-size: 26px;
  text-align: start;
}
.inner_Contacts_sub_title {
  margin: 12px 0 24px 0;
  font-size: 14px;
  text-align: start;
}
.inner_Contacts_para {
  margin-bottom: 12px;
  line-height: 1.75;
  text-align: start;
  font-size: 16px;
}
.inner_Contacts_Side1 {
  width: 100%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}
.inner_Contacts_Side1-about {
  background-color: white;
  transform: translateX(-110%);
}
.inner_Contacts_Side1_list {
  display: flex;
  flex-wrap: wrap;
}
.inner_Contacts_Side1_img--wrapper{
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease-in;
}
.inner_Contacts_Side1_img--wrapper:hover .inner_Contacts_language_name {
  transform: scale(1);
}
.inner_Contacts_Side1_img--wrapper:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}
.inner_Contacts_language_name {
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms;
}
.inner_Contacts_Side1_img {
  width: 100%;
}
.inner_Contacts_Side2{
  position: relative;
  width: 100%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
  text-align: start;
}
.inner_Contacts_Side2-about {
  transform: translateX(110%);
  background-color: #242424;
  color: white;
}
.form_items {
  margin-bottom: 20px;

}
.item_lable {
  content:"";
  font-size: 14px;
  font-weight: bold;
}
input, textarea {
  width: 100%;
  background-color: #242424;
  color: #fff;
  outline: none;
  border: 3px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}
textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}
input:hover, textarea:hover{
  border-color: #dcdfe6;
}
input:focus, textarea:focus{
  border-color: #f06449;
}
.form_items:hover {
  color: #f06449;
}
.form_submit {
  width: 59%;
  height: 52px;
  color: white;
  background-color: #f06449;
  border: solid #f06449 2px;
  font-size: 20px;
  transition: all 300ms ease;
  font-weight: bold;
}
.form_submit:hover {
  border-color:#fff;
  background-color: transparent;
}
.form_submit:active {
  border-color: #f06449;
  color: #f06449;
}
.inner_Contact_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.inner_Contact_overlay--Loading {
  background-color: #242424;
  font-size: 80px;
}
.inner_Contact_overlay--success {
  background-color: #4bb543;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 28px;
}
.inner_Contact_overlay_visible{
  z-index: 1;
  display: flex;
}
.inner_Contact_exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  background-color:transparent ;
  border: none;
  font-size: 36px;
  z-index: 100;
}
/*


Projects


*/
.project-scroll {
  bottom: 2%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.project-icon {
  height: 30px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border: black 2px solid;
}
.project-icon::after {
  content:"";
  width: 4px;
  height: 6px;
  border-radius: 2px;
  background-color: #6415ff;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  animation: scrollmovement 1000ms infinite alternate-reverse
}
@keyframes scrollmovement {
  0% { transform: translateY(4px);
  }
  100% { transform: translateY(-4px);
  }
}
.project-title-text {
  font-size: 50px;
  text-align: center;
}
.project-row {
  width: 100%;
  padding: 60px 222px;
}
.project {
  margin-bottom: 135px;
}
.project__img{
  width: 100%;
  height: 100%;
  transition: all 600ms ease;
}
.project__wrapper{
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow:hidden;
  position: relative;
}
.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%)
}
.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}
.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
  }
.project__description_wrapper {
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
  visibility: hidden;
}
.project__wrapper:hover .project__description_wrapper {
  opacity: 0.7;
  visibility: visible;  
}
.project__list {
  padding-top: 40px;
}
.project__description--title {
  font-size: 40px;
  padding-bottom: 10px;
}
.project__description--para {
  margin: 16px 0;
}
.project__description--link {
  font-size: 20px;
  margin-right: 16px;
}
.project__description--title, .project__description--sub-title, .project__description--para, .project__description--link {
  text-align: left;
  color: white;
}
/*


  Shapes


*/
.shape {
  position: fixed;
}
.shape-0 {
  top: 15vh;
  left: 5vw;
}
.shape-1 {
  top: 15vh;
  left: 50vw;
}
.shape-2 {
  top: 15vh;
  left: 80vw;
}
.shape-3 {
  top: 50vh;
  left: 5vw;
}
.shape-4 {
  top: 50vh;
  left: 50vw;
}
.shape-5 {
  top: 50vh;
  left: 80vw;
}
.shape-6 {
  top: 80vh;
  left: 5vw;
}
.shape-7 {
  top: 80vh;
  left: 50vw;
}
.shape-8 {
  top: 80vh;
  left: 80vw;
}
.shape Footer {
  visibility: hidden;
}
/*


  Footer


*/
footer {
  position: relative;
}
.footer {
  background-color: black;
}
.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0px;
}
.footer__anchor {
  margin-bottom: 20px;
  position: relative;
}
.footer__title {
  margin-bottom: 20px;
  position: relative;
}
.footer__name{
  color: #ff0808;
  font-size: 200%;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.footer__name:hover {
  color: rgb(255, 255, 0);
}
.footer__name::after {
  background-color: yellow;
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}
.footer__name:hover::after{
  width:100%;
  left: 0;
}
.Contact__William {
  color: blue;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.Contact__William--yellow:hover {
  color: yellow;
  transition: all 300ms ease;
}
.Contact__William--yellow::after {
  background-color: yellow;
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}
.Contact__William--yellow:hover::after{
  width:100%;
  left: 0;
}
.copyright_w {
  display: flex;
  justify-content: center;
  color: white;
}
/* Small phones, tablets, large smart phones */
@media (max-width: 768px) {
  .header_TitleBLU,
  .header_TitleO {
    font-size: 80px;
  }
  .header-p{
    font-size: 20px;
  }
  .project-row {
    padding: 5px;
  }
  .inner_Contact {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .inner_Contacts_Side1
  .inner_Contacts_Side2 {
    width: 100%;
  }
}

/* Small phones */
@media (max-width: 480px) {
  .header_TitleBLU,
  .header_TitleO {
    font-size: 52px;
  }
  .move_down {
    padding-top: 20px;
  }
  .nav__listl {
    font-size: 12px;
    flex-direction: row-reverse;
    padding: 5px;
  }
  .CS_logo-mask-top{
    width: 100PX;
  }
  .CS_logo {
    width: 100px;
    height: 100px;
  }
  .fa-adjust {
    padding-right: 15px;
    padding-left: 0;
  }
  .header-p {
    font-size: 18px;
    width: 75%;
  }
  section {
    padding: 0;
  }
  .project {
    margin-bottom: 50px;
  }
  .project-row {
    padding: 30px;
  }
  .project-scroll {
    left: 50%;
    bottom: 2%;
  }
  .project__description--para {
    display: none;
  }
  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .project__description--title {
    text-align: center;
  }
  .project__description--sub-title {
    text-align: center;
    margin-bottom: 8px;
  }
  .inner_Contacts_Side1
  .inner_Contacts_Side2 {
    padding: 40px;
  }
  .footer__name {
    text-align: center;
  }
}